page-home {
    
    //background: #0d81ff
    .item-content {
        background-color:#ab1813;
    }
    p {
    font-size:24;
    font-style: italic;
    color: #0d61ff;
    }
    
    .bar {
        background-color: #21b94e
    }

}




